
{% set active_page="aboutus" %}
<link rel="stylesheet" type="text/css" href="static/CSS/aboutus.css">
<div class="about-us">
<div class="person">
	<div class="about-us-container">
		<div class="about-us-block color2">
		<h2>Lokanadh</h2>
		<p>i am still learing krjjhwefm fujn aspect of the form thr of the hearys.aspect of the form thr of the hearys</p>
		<h3><i class="fas fa-long-arrow-alt-right"></i></h3>
		</div>
	</div>
	<div class="about-us-container">
		<img src="static/IMG/img1.jpg">
	</div>
	<div class="about-us-container">
		<div class="about-us-block color1">
		<h3>About Me</h3>
		<p>i am still learing krjjhwefm fujn aspect of the form thr </p>
		<h4>-></h4>
		</div>
		<div class="about-us-block color2">
		<h3>About Me</h3>
		<p>i am still learing krjjhwefm fujn aspect of the form thr </p>
		<h4>-></h4>
		</div>
	</div>
	<div class="about-us-container">
		<div class="about-us-block color2">
		<h3>About Me</h3>
		<p>i am still learing krjjhwefm fujn aspect of the form thr </p>
		<h4>-></h4>
		</div>
		<div class="about-us-block color3" >
		<h3>About Me</h3>
		<p>i am still learing krjjhwefm fujn aspect of the form thr </p>
		<h4>-></h4>
		</div>
	</div>
</div>

<hr>
<div class="person ">
	<div class="about-us-container">
		<div class="about-us-block color2">
		<h2>Eswar</h2>
		<p>i am still learing krjjhwefm fujn aspect of the form thr </p>
		<h3><i class="fas fa-long-arrow-alt-right"></i></h3>
		</div>
	</div>
	<div class="about-us-container">
		<img src="static/IMG/img1.jpg">
	</div>
	<div class="about-us-container">
		<div class="about-us-block color1" >
		<h3>About Me</h3>
		<p>i am still learing krjjhwefm fujn aspect of the form thr </p>
		<h4>-></h4>
		</div>
		<div class="about-us-block color2">
		<h3>About Me</h3>
		<p>i am still learing krjjhwefm fujn aspect of the form thr </p>
		<h4>-></h4>
		</div>
	</div>
	<div class="about-us-container">
		<div class="about-us-block color2">
		<h3>About Me</h3>
		<p>i am still learing krjjhwefm fujn aspect of the form thr </p>
		<h4>-></h4>
		</div>
		<div class="about-us-block color3">
		<h3>About Me</h3>
		<p>i am still learing krjjhwefm fujn aspect of the form thr </p>
		<h4>-></h4>
		</div>
	</div>
</div>

<hr>
<div class="person">
	<div class="about-us-container">
		<div class="about-us-block color2">
		<h2>Arun</h2>
		<p>i am still learing krjjhwefm fujn aspect of the form thr </p>
		<h3><i class="fas fa-long-arrow-alt-right"></i></h3>
		</div>
	</div>
	<div class="about-us-container">
		<img src="static/IMG/img1.jpg">
	</div>
	<div class="about-us-container">
		<div class="about-us-block color1"  >
		<h3>About Me</h3>
		<p>i am still learing krjjhwefm fujn aspect of the form thr </p>
		<h4>-></h4>
		</div>
		<div class="about-us-block color2">
		<h3>About Me</h3>
		<p>i am still learing krjjhwefm fujn aspect of the form thr </p>
		<h4>-></h4>
		</div>
	</div>
	<div class="about-us-container">
		<div class="about-us-block color2">
		<h3>About Me</h3>
		<p>i am still learing krjjhwefm fujn aspect of the form thr </p>
		<h4>-></h4>
		</div>
		<div class="about-us-block color3" >
		<h3>About Me</h3>
		<p>i am still learing krjjhwefm fujn aspect of the form thr </p>
		<h4>-></h4>
		</div>
	</div>
</div>

<hr>
<div class="person">
	<div class="about-us-container">
		<div class="about-us-block color2">
		<h2>Varun</h2>
		<p>i am still learing krjjhwefm fujn aspect of the form thr </p>
		<h3><i class="fas fa-long-arrow-alt-right"></i></h3>
		</div>
	</div>
	<div class="about-us-container">
		<img src="static/IMG/img1.jpg">
	</div>
	<div class="about-us-container">
		<div class="about-us-block color1"  >
		<h3>About Me</h3>
		<p>i am still learing krjjhwefm fujn aspect of the form thr </p>
		<h4>-></h4>
		</div>
		<div class="about-us-block color2">
		<h3>About Me</h3>
		<p>i am still learing krjjhwefm fujn aspect of the form thr </p>
		<h4>-></h4>
		</div>
	</div>
	<div class="about-us-container">
		<div class="about-us-block color2">
		<h3>About Me</h3>
		<p>i am still learing krjjhwefm fujn aspect of the form thr </p>
		<h4>-></h4>
		</div>
		<div class="about-us-block color3">
		<h3>About Me</h3>
		<p>i am still learing krjjhwefm fujn aspect of the form thr </p>
		<h4>-></h4>
		</div>
	</div>
</div>
</div>