<head>
<style type="text/css">
	.docs-top{
		display:block;
		padding:30px 20px;
	}
	.docs-top h3{
		display: inline-block;
	}

	.docs-top a:link, a:visited {
	  background-color: white;
	  color: black;
	  border: 2px solid green;
	  border-radius: 4px;
	  float:right;
	  padding: 10px 30px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	}

	.docs-top a:hover, a:active {
	  background-color: green;
	  color: white;
	}
</style>
</head>
<body>
<div class="docs-top">
<br>
<h3> The documentation here in-case you want to know more about this project</h3>
<a href="static/DOC/doc.pdf" target="_blank" class="button" download><i class="fa fa-download"></i>Download</a>

<p> some text heree .degromgr</p>
</div>

<center>
<iframe src="/static/DOC/doc.pdf#toolbar=0" width="80%" height="1000px">
</iframe>
</center>

</body>